
/*
 * Misc CSS styling for the task .
 */
    /* Button design for the whole experiment */
    .jspsych-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(3, 109, 136);
    background-color: #fff;
    border-color: #ccc;
    }
    
/* Slider width fix */
.jspsych-slider {
        width:500px;
    }
/* Experiment does not even start without this */
.jspsych-display-element:focus {
    outline: none;
}


.jspsych-content {
    max-width: 45%; /* this is mainly an IE 10-11 fix */
    text-align: center;
    margin: auto; /* this is for overflowing content */
}
/* Maybe also helps so content not in the middle 
.jspsych-top {
    align-items: flex-start;
}
*/
.jspsych-target {background-color:"#cce3f0fb"}

.emphasized { font-style: italic; }