
/*
 * Misc CSS styling for the task .
 *
 */
    /* Control appearance of jsPsych.data.displayData() */
    #jspsych-data-display {
    text-align: center;
    }

    /* Centering the task in the middle of the screen */
    .jspsych-middle {
        align-items: center;
    }

    /* Button design for the whole experiment */
    .jspsych-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-left: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: rgb(3, 109, 136);
    background-color: #fff;
    border-color: #ccc;
    }

    .jspsych-display-element {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    }

    .jspsych-html-slider-response-response.jspsych-slider {
        color: rgb(136, 100, 3);
    }

/* TEST IF YOU NEED THIS STUFF */
.jspsych-display-element:focus {
    outline: none;
}

.jspsych-content-wrapper {
    display: flex;
    margin: auto;
    flex: 1 1 100%;
    width: 100%;
}

.jspsych-content {
    max-width: 95%; /* this is mainly an IE 10-11 fix */
    text-align: center;
    margin: auto; /* this is for overflowing content */
}

.jspsych-top {
    align-items: flex-start;
}

.emphasized { font-style: italic; }